


.headingSkills{
      margin-top: 6rem;
      color: white;
      font-weight: 500;
      text-align: center;
      margin-bottom: 5rem;
      animation: moveInBottom .5s ease-out .4s;
      animation-fill-mode: backwards;
}


.skill-item {
      margin-right: 28rem;
      margin-left: 24rem;
      padding-bottom: 3.2rem;
      border-bottom: 1px solid rgba(250, 250, 250, 0.1);
      margin-bottom: 50px;
      animation: moveInBottom .5s ease-out .5s;
      animation-fill-mode: backwards;
     
}

.skill-bar {
      
       margin-top: 3rem;
      width: 62%;
      height: 6px;
      border-radius: 3px px;
      background-color: rgba(250, 250, 250, 0.25);
      position: relative;
}

.filled-bar-fill {
      position: absolute;
      z-index: 99;
      
      height: 6px;
      background-color: #fff;
      border-radius: 3px;
}

.skill-bar>span {
      display: inline-block;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      background-color: #fff;
      color: #1e1e1e;
      border-radius: 50%;
      font-size: 16px;
      font-weight: 700;
      left: 0;
      top: -21px;
      position: absolute;
      z-index: 999;
}

.skill-item>h6{
     
      font-size: 1.2rem;
      margin-bottom: -3.6rem;
      margin-right: 2.4rem;
      color: white;
      text-align: right;
}

.bar-1{
      width: 95%;
}

.bar-2{
      width: 80%;

}

.bar-3{
      width: 65%;

}

.bar-4{
      width: 60%;
}

