
.Container2{
     margin: 80px;
     animation: moveInBottom .5s ease-out .5s;
     animation-fill-mode: backwards;
}

.heading{
    margin-top: 10rem;
    color: white;
    font-weight:500;
    text-align: center;
    margin-bottom:12rem;
}

.Content{
    margin-left: 4rem;
     display:grid;
     grid-gap:15px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    @media (max-width: 768px) {
        display:flex;
        flex-direction: column;
      }
}

.Wrap{
     border-radius:10px;
    cursor:pointer;
    overflow:hidden;
    position: relative;
    border: 3px solid rgba(249,249,249,0.1);
    box-shadow: rgba(0 0 0 / 69%) 0px 26px 30px -10px,
        rgba(0 0 0 / 73%) 0px 16px 10px -10px;
    transition: all 2.5s cubic-bezier(0.25,0.46,0.45,0.94) 0s;   
}


.Wrap>img{
        width:100%;
        height:140px;
        display: block;
        transition: opacity 500ms ease-in-out 0s;
        object-fit:cover;
        transition: all .2s;
}



.card {
    height: 140px;
    perspective: 120rem;
    -moz-perspective: 122rem;
    position: relative;

}

.card__side>img{
    width:100%;
    height:140px;
    display: block;
    object-fit:cover;
}


.card__side {

    height: 30rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
}


.card__side--back {
    transform: rotateY(180deg);
}

.card:hover .card__side--front {
    transform: rotateY(-180deg);
}

.card:hover .card__side--back {
    transform: rotateY(0deg);
}

.card__side--back-1 {
   background-color: rgba(256, 256, 256, 0.8);
}

.card__side>h2{
    margin-top: 3rem;
    font-size: 1.2rem;
    text-align: center;
    color: black;
}


.last_1{
    margin-top: 15px;
}

